{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<div class="container text-center">
  <div id="map" style="width:500px; height:400px; margin:0 auto;"></div>
</div>
<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=230cf9e42aefd727dd89280fc354074b"></script>
<script>
  navigator.geolocation.getCurrentPosition((position)=>{
    const lat = position.coords.latitude;
    const lng = position.coords.longitude;

  var container = document.getElementById('map');
  var options = {
    center : new kakao.maps.LatLng(lat, lng),
    level : 9
  };
  var map = new kakao.maps.Map(container, options);
  var markerPosition = new kakao.maps.LatLng(lat, lng); 
  var marker = new kakao.maps.Marker({
      position: markerPosition
  });


  $.ajax({
    url: '/second_map_data/',
    data: {},
    success: function(res) {
      for(var i = 0; i < res.length; i++) {
        var marker = new kakao.maps.Marker({
            map : map, // 마커를 표시할 지도
            position : new kakao.maps.LatLng(res[i].lat, res[i].lng),
            title : res[i].title,
        });
      } 
    }
  });
});
</script>
{% endblock %}
